main{
    font-family: 'Nunito', sans-serif;
}
.bg-gradient_roaz{
    background: rgb(98,217,223);
    background: linear-gradient(45deg, rgba(98,217,223,1) 0%, rgba(231,56,245,1) 100%);
}
.bordertop{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.borderbutton{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
@media screen and (min-height: 200px) {
    .divP{
        margin-top: 7.58%;
        margin-bottom: 7.58%;
    }
}
@media screen and (min-height: 800px) {
    .divP{
        padding-top: 4%;
        padding-bottom: 4%;
        margin-top: 10.36%;
        margin-bottom: 10.36%;
    }
}

.btn {
    box-sizing: border-box;
    background: rgb(98,217,223);
    background: linear-gradient(45deg, rgba(98,217,223,1) 0%, rgba(231,56,245,1) 100%);
    border-radius: 2em;
    color: white;
    display: flex;
    margin: auto;
    padding-left: 35%;
    padding-right: 35%;
    text-align: center;
    font-weight: 700;
}
.outlinenone {
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid gray;
    width: 100%;

}

.first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

#button-send{
    border-radius: 15px;
    color: white;
}
